@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 10px 300px;
}

.top-header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    
}

ul {
    margin: 0px;
    display: flex;
    gap: 18px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}



.bottom-header {
    display: flex;
    padding: 130px 0px;
    gap: 50px;
}

.bottom-header-left {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-grow: 1;
    gap: 15px;

}

.header-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;    
}

.header-text {
    font-size: 18px;
    font-weight: lighter;
    color: #E5E7EB;

}

button {
    color: #E5E7EB;
    background: #3882F6;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    padding: 8px 20px;
}

.bottom-header-right {
    background-color: #E5E7EB;
    opacity: 0.4;
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARDS */

.information {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px 400px;
    text-align: center;
}

.some-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card1, .card2, .card3, .card4 {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.pic1, .pic2, .pic3, .pic4 {
    border: 3px solid #5088e9;
    border-radius: 6px;    
    flex-basis: 100px;
    flex-grow: 1;
}

.text1, .text2, .text3, .text4 {
    width: 104px;
    flex-grow: 1;
    color: #1F2937;
}

/* QUOTE */
.main-quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px 400px;

}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quote {
    font-size: 34px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.quote-by {
    text-align: end;
    font-weight: 700;
    font-size: 24px;
}

/* CALL TO ACTION */
.main-call-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 65px 300px;
    padding: 0px 150px;
    border-radius: 8px;
}

.call-action {
    display: flex;
    flex-grow: 1;
    padding: 40px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.call-action-text-cont {
    display: flex;
    flex-direction: column;
}

.call-action-header {
    font-size: 24px;
    color: #F9FAF8;
}

.call-action-text {
    color: #E5E7EB;
}

.call-action-button-cont {
    display: flex
    
}

.call-action-button {
    border: solid #F9FAF8 2px;
    color: #F9FAF8;
    background-color: #3882F6;
}

/* FOOTER */
.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #E5E7EB;
    padding: 36px 0px;
}

